@using Microsoft.AspNetCore.Identity;
@model SocialMediaMovieReviews.Models.Movie
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/css/MovieDetails.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
    @{
        string? userid = null;
        @*if user is signed in*@
        @if (SignInManager.IsSignedIn(User))
        {
            @*get current user's id*@
            userid = (await UserManager.GetUserAsync(User)).Id;
        }
    }

    @*<a asp-controller="Reviews" asp-action="Create" asp-route-movieid="@Model.Id">Create New</a>*@

    <div>

        <h5 style="text-align:center;">
            @Html.DisplayFor(model => model.Title) (@Html.DisplayFor(model => model.ReleaseDate.Year))
        </h5>
        <div class="flex-container">

            <div class="poster">
                <img class="poster-img" src="@Html.DisplayFor(model => model.PosterURL)" style="width:250px;" />

            </div>

            <div class="trailer">
                <iframe width="760" height="415"
                        src="@Html.DisplayFor(model => model.TrailerURL)"
                        title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen class="traileriframe" autoplay>
                </iframe>
            </div>
        </div>

        <div id="white-background">
            <div class="director-description" style="justify-content:center;">

                <p><strong>Director: </strong>@Html.DisplayFor(model => model.Director)</p>
                <p style="margin-bottom: 20px;">
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
            <hr class="rounded">

            <h6>Post Your Review!</h6>
            <div class="create-form" style="margin-bottom: 15px;">
                <form id="postreviewForm" asp-controller="Reviews" asp-action="AddReview">
                    <div class="form-group">
                        <label class="control-label">Text</label>
                        <textarea name="reviewtext" id="reviewtext" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rating</label>
                        <input type="number" name="reviewrating" id="reviewrating" class="form-control" min="0" max="10" step=".1" style="width: 70px;" />
                    </div>
                    @*<div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
                </div>*@
                    <div class="form-group">
                        <input type="hidden" id="reviewmovieid" name="reviewmovieid" value="@Model.Id" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="PostButton" value="Post" class="btn btn-primary" />
                    </div>
                </form>
            </div>

            <hr class="rounded">

            <p>Average Rating: @Math.Round(Model.getAverageRating(), 1) (@Model.Reviews.Count)</p>


            <div id="reviewsContainer">
                @{
                    userid = (await UserManager.GetUserAsync(User)).Id;
                    var reviews = Model.Reviews
                    .OrderByDescending(r => r.UserId == userid)
                    .ThenByDescending(r => r.Likes.Count());
                }
                @foreach (var r in reviews)
                {
                    <div class="card">
                        <div class="card-header">
                            @r.User.User_Name
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>@r.Text</p>
                                <footer class="blockquote-footer">@r.Movie.Title <cite title="Source Title">@r.Rating/10</cite></footer>

                                @{
                                    ReviewLike? found = null;
                                }


                                @*if user is signed in*@
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    @*get current user's id*@
                                    userid = (await UserManager.GetUserAsync(User)).Id;
                                    @*look to see if like exists*@
                                    found = r.Likes.FirstOrDefault(l => l.UserId == userid && l.ReviewId == r.Id);

                                    @*if no like by this user*@
                                    @if (found == null)
                                    {
                                        @* ADD LINK ON ICONS TO CREATE LIKES*@

                                        <div id="likeformContainer">
                                            @*blank thumbs up*@
                                            <form id="likeform_@r.Id" asp-controller="ReviewLikes" asp-action="AddLike">
                                                <p id="likecount_@r.Id">@r.Likes.Where(l => l.isLiked == true).Count()</p>
                                                <svg id="likebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                    <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                </svg>
                                                <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found?.Id">
                                            </form>

                                            @*blank thumbs down*@
                                            <form id="dislikeform_@r.Id" asp-controller="ReviewLikes" asp-action="AddLike">
                                                <p id="dislikecount_@r.Id">@r.Likes.Where(l => l.isLiked == false).Count()</p>
                                                <svg id="dislikebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                    <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                                </svg>
                                                <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found?.Id">
                                            </form>
                                        </div>



                                    }
                                    @*else if there IS a like*@
                                    else
                                    {
                                        @*check if like.IsLiked is true*@
                                        if (found.isLiked == true)
                                        {
                                            <div id="likeformContainer">
                                                @*filled thumbs up*@
                                                <form id="unlikeform_@r.Id" asp-controller="ReviewLikes" asp-action="RemoveLike">
                                                    <p id="likecount_@r.Id">@r.Likes.Where(l => l.isLiked == true).Count()</p>
                                                    <svg id="unlikebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                                                    </svg>
                                                    <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found.Id">
                                                </form>

                                                @*blank thumbs down*@
                                                <form id="switchtodislikeform_@r.Id" asp-controller="ReviewLikes" asp-action="RemoveLike">
                                                    <p id="dislikecount_@r.Id">@r.Likes.Where(l => l.isLiked == false).Count()</p>
                                                    <svg id="switchtodislikebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                        <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                                    </svg>
                                                    <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found.Id">
                                                </form>
                                            </div>

                                        }
                                        else
                                        {
                                            @*check if like.IsLiked is false*@
                                            <div id="likeformContainer">
                                                @*blank thumbs up*@
                                                <form id="switchtolikeform_@r.Id" asp-controller="ReviewLikes" asp-action="RemoveLike">
                                                    <p id="likecount_@r.Id">@r.Likes.Where(l => l.isLiked == true).Count()</p>
                                                    <svg id="switchtolikebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                        <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                    </svg>
                                                    <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found.Id">
                                                </form>

                                                @*filled thumbs down*@
                                                <form id="undislikeform_@r.Id" asp-controller="ReviewLikes" asp-action="RemoveLike">
                                                    <p id="dislikecount_@r.Id">@r.Likes.Where(l => l.isLiked == false).Count()</p>
                                                    <svg id="undislikebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                                                        <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                                                    </svg>
                                                    <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found.Id">
                                                </form>
                                            </div>

                                        }

                                    }

                                    userid = (await UserManager.GetUserAsync(User)).Id;
                                    @if (userid == r.UserId)
                                    {
                                        <p>
                                            <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@r.Id">Edit</a> |
                                            <a asp-controller="Reviews" asp-action="Details" asp-route-id="@r.Id">Details</a> |
                                            <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@r.Id">Delete</a>
                                        </p>
                                    }
                                }
                                @*else if not signed in*@
                                else
                                {
                                    <div id="likeformContainer">
                                        @*blank thumbs up*@
                                        <form id="likeform_@r.Id" asp-controller="ReviewLikes" asp-action="AddLike">
                                            <p id="likecount_@r.Id">@r.Likes.Where(l => l.isLiked == true).Count()</p>
                                            <svg id="likebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                            </svg>
                                            <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found?.Id">
                                        </form>

                                        @*blank thumbs down*@
                                        <form id="dislikeform_@r.Id" asp-controller="ReviewLikes" asp-action="AddLike">
                                            <p id="dislikecount_@r.Id">@r.Likes.Where(l => l.isLiked == false).Count()</p>
                                            <svg id="dislikebutton_@r.Id" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                            </svg>
                                            <input type="hidden" id="likeid_input_@r.Id" name="likeid_input_@r.Id" value="@found?.Id">
                                        </form>
                                    </div>
                                }
                            </blockquote>
                        </div>
                    </div>

                    <script>

                        $(document).ready(function () {

                            

                            // When blank like button clicked
                            // Use event delegation on a parent element that is present in the document
                            $(document).on('click', '#likebutton_@r.Id', function () {

                                // Fetch the Antiforgery token
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetAntiforgeryToken", "ReviewLikes")',
                                    success: function (response) {
                                        // Use the returned token in your AJAX request
                                        var token = response.token;

                                        // Make the actual AJAX POST request with the token
                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("AddLike", "ReviewLikes")',
                                            headers: {
                                                'RequestVerificationToken': token  // Include the token in the request headers
                                            },
                                            data: {
                                                liked: true,
                                                reviewid: @r.Id,
                                                movieid: @r.MovieId
                                            },
                                            dataType: 'json',
                                            success: function (result) {
                                                $("#likebutton_@r.Id path").attr("d", "M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z");
                                                $("#likebutton_@r.Id").attr("id", "unlikebutton_@r.Id");
                                                $("#dislikebutton_@r.Id").attr("id", "switchtodislikebutton_@r.Id");
                                                // change the likeid hidden input value to result.id
                                                $("#likeid_input_@r.Id").val(result.id);
                                                $("#likecount_@r.Id").text(result.likecount);
                                                $("#dislikecount_@r.Id").text(result.dislikecount);
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("AJAX Error:", error);
                                            }
                                        });
                                    },
                                    error: function (xhr, status, error) {
                                        console.log("AJAX Error:", error);
                                    }
                                });
                            });

                            // When a blank dislike button is clicked
                            // Use event delegation on a parent element that is present in the document
                            $(document).on('click', '#dislikebutton_@r.Id', function () {

                                event.preventDefault();
                                // Fetch the Antiforgery token
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetAntiforgeryToken", "ReviewLikes")',
                                    success: function (response) {
                                        // Use the returned token in your AJAX request
                                        var token = response.token;

                                        // Make the actual AJAX POST request with the token
                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("AddLike", "ReviewLikes")',
                                            headers: {
                                                'RequestVerificationToken': token  // Include the token in the request headers
                                            },
                                            data: {
                                                liked: false,
                                                reviewid: @r.Id,
                                                movieid: @r.MovieId
                                                                },
                                            dataType: 'json',
                                            success: function (result) {
                                                $("#dislikebutton_@r.Id path").attr("d", "M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z")
                                                $("#dislikebutton_@r.Id").attr("id", "undislikebutton_@r.Id");
                                                $("#likebutton_@r.Id").attr("id", "switchtolikebutton_@r.Id");
                                                $("#likeid_input_@r.Id").val(result.id);
                                                $("#likecount_@r.Id").text(result.likecount);
                                                $("#dislikecount_@r.Id").text(result.dislikecount);
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("AJAX Error:", error);
                                            }
                                        });
                                    },
                                    error: function (xhr, status, error) {
                                        console.log("AJAX Error:", error);
                                    }
                                });
                            });

                            $(document).on('click', '#unlikebutton_@r.Id', function () {
                                // Fetch the Antiforgery token
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetAntiforgeryToken", "ReviewLikes")',
                                    success: function (response) {
                                        // Use the returned token in your AJAX request
                                        var token = response.token;
                                        var found_id = $("#likeid_input_@r.Id").val();

                                        // Make the actual AJAX POST request with the token
                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("RemoveLike", "ReviewLikes")',
                                            headers: {
                                                'RequestVerificationToken': token  // Include the token in the request headers
                                            },
                                            data: {
                                                // likeid: the hiddent input likeid value
                                                likeid: found_id
                                            },
                                            dataType: 'json',
                                            success: function (result) {
                                                $("#unlikebutton_@r.Id path").attr("d", "M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z")
                                                $("#unlikebutton_@r.Id").attr("id", "likebutton_@r.Id");
                                                $("#switchtodislikebutton_@r.Id").attr("id", "dislikebutton_@r.Id");
                                                $("#likecount_@r.Id").text(result.likecount);
                                                $("#dislikecount_@r.Id").text(result.dislikecount);
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("AJAX Error:", error);
                                            }
                                        });
                                    }
                                });
                            });

                            $(document).on('click', '#undislikebutton_@r.Id', function () {
                                // Fetch the Antiforgery token
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetAntiforgeryToken", "ReviewLikes")',
                                    success: function (response) {
                                        // Use the returned token in your AJAX request
                                        var token = response.token;
                                        var found_id = $("#likeid_input_@r.Id").val();

                                        // Make the actual AJAX POST request with the token
                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("RemoveLike", "ReviewLikes")',
                                            headers: {
                                                'RequestVerificationToken': token  // Include the token in the request headers
                                            },
                                            data: {
                                                // likeid: the hiddent input likeid value
                                                likeid: found_id
                                            },
                                            dataType: 'json',
                                            success: function (result) {
                                                $("#undislikebutton_@r.Id path").attr("d", "M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z")
                                                $("#undislikebutton_@r.Id").attr("id", "dislikebutton_@r.Id");
                                                $("#switchtolikebutton_@r.Id").attr("id", "likebutton_@r.Id");
                                                $("#likecount_@r.Id").text(result.likecount);
                                                $("#dislikecount_@r.Id").text(result.dislikecount);
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("AJAX Error:", error);
                                            }
                                        });
                                    }
                                });
                            });

                            $(document).on('click', '#switchtolikebutton_@r.Id', function () {
                                // Fetch the Antiforgery token
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetAntiforgeryToken", "ReviewLikes")',
                                    success: function (response) {
                                        // Use the returned token in your AJAX request
                                        var token = response.token;
                                        var found_id = $("#likeid_input_@r.Id").val();

                                        // Make the actual AJAX POST request with the token
                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("RemoveLike", "ReviewLikes")',
                                            headers: {
                                                'RequestVerificationToken': token  // Include the token in the request headers
                                            },
                                            data: {
                                                // likeid: the hiddent input likeid value
                                                likeid: found_id,
                                                isliked: true
                                            },
                                            dataType: 'json',
                                            success: function (result) {
                                                $("#switchtolikebutton_@r.Id path").attr("d", "M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z")
                                                $("#switchtolikebutton_@r.Id").attr("id", "unlikebutton_@r.Id");
                                                $("#undislikebutton_@r.Id path").attr("d", "M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z");
                                                $("#undislikebutton_@r.Id").attr("id", "switchtodislikebutton_@r.Id");
                                                $("#likecount_@r.Id").text(result.likecount);
                                                $("#dislikecount_@r.Id").text(result.dislikecount);
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("AJAX Error:", error);
                                            }
                                        });
                                    }
                                });
                            });

                            $(document).on('click', '#switchtodislikebutton_@r.Id', function () {
                                // Fetch the Antiforgery token
                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("GetAntiforgeryToken", "ReviewLikes")',
                                    success: function (response) {
                                        // Use the returned token in your AJAX request
                                        var token = response.token;
                                        var found_id = $("#likeid_input_@r.Id").val();

                                        // Make the actual AJAX POST request with the token
                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("RemoveLike", "ReviewLikes")',
                                            headers: {
                                                'RequestVerificationToken': token  // Include the token in the request headers
                                            },
                                            data: {
                                                // likeid: the hiddent input likeid value
                                                likeid: found_id,
                                                isliked: false
                                            },
                                            dataType: 'json',
                                            success: function (result) {
                                                $("#switchtodislikebutton_@r.Id path").attr("d", "M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z")
                                                $("#switchtodislikebutton_@r.Id").attr("id", "undislikebutton_@r.Id");
                                                $("#unlikebutton_@r.Id path").attr("d", "M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z");
                                                $("#unlikebutton_@r.Id").attr("id", "switchtolikebutton_@r.Id");
                                                $("#likecount_@r.Id").text(result.likecount);
                                                $("#dislikecount_@r.Id").text(result.dislikecount);
                                            },
                                            error: function (xhr, status, error) {
                                                console.log("AJAX Error:", error);
                                            }
                                        });
                                    }
                                });
                            });



                        });
                    </script>
                }
            </div>
        </div>
    </div>
    <script>
        $(document).ready( function () {

            // click "post" to post review
            $(document).on('click', '#PostButton', function (event) {
                event.preventDefault();
                // Fetch the Antiforgery token
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetAntiforgeryToken", "Reviews")',
                    success: function (response) {
                        // Use the returned token in your AJAX request
                        var token = response.token;
                        var review_text = $("#reviewtext").val();
                        var review_rating = $("#reviewrating").val();
                        var review_movieid = $("#reviewmovieid").val();

                        // Make the actual AJAX POST request with the token
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("AddReview", "Reviews")',
                            headers: {
                                'RequestVerificationToken': token  // Include the token in the request headers
                            },
                            data: $("#postreviewForm").serialize(),
                            dataType: 'json',
                            success: function (result) {
                                var reviewsDiv = $("#reviewsContainer");
                                var newReviewCard = $('<div class="card">' +
                                    '<div class="card-header">' + result.review_username + '</div>' +
                                    '<div class="card-body">' + '<blockquote class="blockquote mb-0">' +
                                    '<p>' + result.review_text + '</p>' + '<footer class="blockquote-footer">' + 
                                    result.review_movietitle + '<cite title="Source Title"> ' + result.review_rating + '/10</cite></footer>' +

                                        '<div id="likeformContainer">' +
                                            '<form id="likeform_' + result.reviewid + '" asp-controller="ReviewLikes" asp-action="AddLike">' +
                                    '<p id="likecount_' + result.reviewid + '">0</p>' +
                                    '<svg id="likebutton_' + result.reviewid + '" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">' +
                                                    '<path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" /></svg>' +
                                    '<input type="hidden" id="likeid_input_' + result.reviewid + '" name="likeid_input_' + result.reviewid + '" value="' + null + '">' +
                                            '</form>' +

                                            '<form id="dislikeform_' + result.reviewid + '" asp-controller="ReviewLikes" asp-action="AddLike">' +
                                                '<p id="dislikecount_' + result.reviewid + '">0</p>' +
                                                '<svg id="dislikebutton_' + result.reviewid + '" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">' +
                                                    '<path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />' +
                                                '</svg>' +
                                                '<input type="hidden" id="likeid_input_' + result.reviewid + '" name="likeid_input_' + result.reviewid + '" value="null">' +
                                            '</form>' +
                                            '<p>' +
                                                '<a href="/Reviews/Edit/' + result.reviewid + '">Edit</a> |' +
                                                '<a href="/Reviews/Details/' + result.reviewid + '">Details</a> |' +
                                                '<a href="/Reviews/Delete/' + result.reviewid + '">Delete</a>' +
                                            '</p>' +
                                        '</div>');

                                reviewsDiv.prepend(newReviewCard);
                                $("#reviewtext").val('');
                                $("#reviewrating").val('');
                            },
                            error: function (xhr, status, error) {
                                console.log("AJAX Error:", error);
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log("AJAX Error:", error);
                    }
                });
            });
        });
    </script>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</body>


